/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* font-family: 'Josefin Sans', sans-serif;  300,400,600*/


/* Global Variables */
:root{
    --clr-d-red:hsl(0, 36%, 70%);
    --clr-soft-red:hsl(0, 93%, 68%);
    --clr-grayish-red:hsl(0, 6%, 24%);
    --clr-gradients-1:Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --clr-gradients-2:Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
    --ff-primary:'Josefin Sans', sans-serif;
    --radius:0.5rem
}

/* Global Styles */
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 16px;
    font-family: var(--ff-primary);
    background: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}
img:not(.logo){
    width: 100%;
}
/* Section */
.section{
    min-height: 100vh;
}
.left{
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center center;
}
.logo{
    margin: 2rem;
}
.hero-mobile{
    margin-bottom: 4rem;
}
.title{
    text-transform:uppercase ;
    margin: 0 4rem;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}
.diff{
    font-weight: 200;
    color: var(--clr-d-red);
}
.info{
    margin: 0 2rem;
    text-align: center;
    font-size: .875rem;
    color: var(--clr-d-red);
    margin-bottom: 2rem;
    line-height: 1.5;
}
.email{
    margin: 0 2rem;
    display: flex;
    justify-content: center;
}
.email-input{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid var(--clr-d-red);
    background-color: transparent;
}
.email-input::placeholder{
    color: var(--clr-d-red);
}
.email-input:focus{
    outline: 0;
}
.border{
    outline: 1;
    border: 2px solid var(--clr-soft-red);
}
.btn{
    cursor: pointer;
    border-radius: 1.5rem;
    border: 0;
    background: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    padding: 14px 28px;
    position: relative;
    left: -40px;
}
.btn i{
    color: white;
    font-size:1.5rem ;
}
.error{
    display: none;
    color: var(--clr-soft-red);
    margin: 10px 10%;
    transition: all .5s linear;
}
.active{
    transition: all .5s linear;
    display: block !important;
}
.error-icon{
    display: none;
    position: absolute;
    width:24px !important;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;

}
/* Responsive Design */

/* Tablet */
@media screen and (max-width:992px) and (min-width:600px) {
    .section{
        min-height: 100vh;
    }
    .hero-mobile{
        margin-bottom: 4rem;
    }
    .title{
        margin: 0 5rem;
        font-size: 4rem;
        letter-spacing: 1rem;
        margin-bottom: 3rem;
    }
    .info{
        font-size: 1.2rem;
    }
    .error{
        display: none;
        color: var(--clr-soft-red);
        margin: 10px 10%;
        margin-bottom: 6rem;
    }
    .error-icon{
        margin-left: 215px;
    }
}
/* Desktop */
@media screen and (min-width:992px) and (max-width:1280px){
    html{
        font-size: 14px;
    }
    .section{
        display: flex;
    }
    .left{
        width: 60%;
    }
    .container{
        margin: 4rem 10.25rem;
    }
    .hero-mobile{
        display: none;
    }
    .logo{
        margin-bottom: 7.75rem;
    }
    .title{
        font-size: 4rem;
        text-align: start;
        margin-left: 2rem !important;
        margin-right: 18.75rem;
        letter-spacing: 1.5rem;
        margin-bottom: 2rem;
    }
    .diff{
        text-align: center;
    }
    .info{
        font-size: 1rem;
        margin-right: 14.25rem;
        text-align: start;
        margin-left: 2rem !important;
        margin-bottom: 40px;
    }
    .email{
        justify-content: flex-start
    }
    .email-input{
        justify-content: left;
        margin-left: 0!important;
        max-width:450px ;
    }
    .right{
        width: 40%;
    }
    .bg-desktop{
        background-image: url(images/hero-desktop.jpg);
    background-size: cover;
    background-position: center center;
    }
    .error{
        display: none;
    }
    .error-icon{
        margin-left: 256px;
    }

}
/* High screen Desktop */
@media screen and (min-width:1280px) {
    .section{
        display: flex;
    }
    .left{
        width: 60%;
    }
    .container{
        margin: 4rem 10.25rem;
    }
    .hero-mobile{
        display: none;
    }
    .logo{
        margin-bottom: 7.75rem;
    }
    .title{
        font-size: 4rem;
        text-align: start;
        margin-left: 2rem !important;
        margin-right: 18.75rem;
        letter-spacing: 1.5rem;
        margin-bottom: 2rem;
    }
    .diff{
        text-align: center;
    }
    .info{
        font-size: 1rem;
        margin-right: 14.25rem;
        text-align: start;
        margin-left: 2rem !important;
        margin-bottom: 40px;
    }
    .email{
        justify-content: flex-start
    }
    .email-input{
        justify-content: left;
        margin-left: 0!important;
        max-width:450px ;
    }
    .right{
        width: 40%;
    }
    .bg-desktop{
        background-image: url(images/hero-desktop.jpg);
    background-size: cover;
    background-position: center center;
    }
    .error{
        display: none;
    }
    .error-icon{
        margin-left: 360px;
    }
}